{% extends 'base/base.html' %}


{% block meta_title %}Спасибо{% endblock %}
{% block nav_block %}
{% endblock %}

{% block page_title %}

{% endblock %}

{% block body %}
    <div class="panel panel-default">

        <div class="panel-body">


            <div style="text-align: center;"><h1>Спасибо за поддержку</h1>

                <h3>
                    Мы потратим ваше пожертвование на развитие портала
                </h3>

                <hr>
                <h4>
                    <p>Покормим авторов :) Оплатим хостинг или домен</p>
                    <p>Нарисуем красивых картинок для статей</p>
                </h4>

                <hr>

                <p>
                    Присоединяйтесь к нам в соц. сетях:

                </p>
                <div style="font-size:32px">

                    <a href="http://vk.com/pynsk" title="ВКонтакте"><i class="fa fa-vk"></i></a>
                    <a href="http://www.facebook.com/PyNskCom" title="Facebook"><i class="fa fa-facebook"></i></a>
                    <a href="http://twitter.com/py_nsk" title="Twitter"><i class="fa fa-twitter"></i></a>

                </div>

            </div>


        </div>

    </div>
{% endblock body %}

