{% extends 'base/base.html' %}
{% load tg_tags %}

{% load static %}
{% block meta_title %}Главная{% endblock %}

{% block nav_block %}
{% endblock %}


{% block page_title_name %}
    Проверь знание Python!
{% endblock %}
{% block content %}

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-md-4 text-center">
                <img class="img-circle" src="http://placehold.it/180/e67e22/2c3e50?text=+">
                <h2>Уникальные Python-тесты</h2>
                <h3>Тесты разработаны программистами для программистов</h3>
            </div>
            <div class="col-md-4 text-center">
                <img class="img-circle" src="http://placehold.it/180/8e44ad/2c3e50?text=+">
                <h2>Мобильная платформа</h2>
                <h3>Достаточно аккаунта в Telegram</h3>
            </div>
            <div class="col-md-4 text-center">
                <img class="img-circle" src="http://placehold.it/180/3498db/2c3e50?text=+">
                <h2>Рейтинг участников</h2>
                <h3>Соревнуйся с друзьями и изучай Python вместе</h3>
            </div>
        </div><!-- /.row -->


        <div class="row">

            <h1 class="text-center">Присоединяйся!</h1>
            <h4 class="text-center">Кликай по картинке</h4>

            <div class="col-md-12 text-center">
                <a href="https://telegram.me/{% bot_raw_name %}" target="_blank">
                    <img src="{% static 'images/t_logo.png' %}" class="img-circle" style="max-width: 180px">
                </a>
            </div>
        </div>
    </div>




{% endblock %}