{% extends 'base/base.html' %}


{% load static %}
{% block meta_title %}Главная{% endblock %}

{% block nav_block %}
{% endblock %}


{% block body %}

    <h1 class="text-center">Проверь знание Python!</h1>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-md-4 text-center">
                <img class="img-circle" src="http://placehold.it/180x180">
                <h2>Уникальные Python-тесты</h2>
                <h3>Тесты разработаны программистами для программистов</h3>
            </div>
            <div class="col-md-4 text-center">
                <img class="img-circle" src="http://placehold.it/180x180">
                <h2>Мобильная платформа</h2>
                <h3>Чтобы пройти тест, достаточно аккаунта в Telegram</h3>
            </div>
            <div class="col-md-4 text-center">
                <img class="img-circle" src="http://placehold.it/180x180">
                <h2>Рейтинг участников</h2>
                <h3>Соревнуйся с друзьями и изучай Python вместе</h3>
            </div>
        </div><!-- /.row -->


        <hr>
        <div class="row">

            <h1 class="text-center">Присоединяйся!</h1>
            <h4 class="text-center">Кликай по картинке</h4>

            <div class="col-md-12 text-center">
                <a href="https://telegram.me/sapronovbot" target="_blank">
                    <img src="{% static 'images/t_logo.png' %}" class="img-circle" style="max-width: 180px">
                </a>
            </div>
        </div>
    </div>




{% endblock %}