{% extends 'base/base.html' %}

{% load staticfiles %}

{% block meta_title %}Тесты{% endblock %}

{% block page_title_name %}
    Наши тесты
{% endblock %}

{% block body %}


    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h4><b>Горите желанием добавить свой тест? Пишите на <a href="mailto:pynsk.nsk@gmail.com">pynsk.nsk@gmail.com</a></b>
            </h4>
        </div>
    </div>


    <div class="card-group">
        {% for object in object_list %}


            {#            <a href="{% url 'pages:test-detail' pk=object.pk %}">#}
            <div class="card">
                {#                <img class="card-img-top" data-src="holder.js/100px180/" alt="Card image cap">#}
                <div class="card-body">

                    <h2 class="card-title text-center">{{ object.name }}</h2>
                    <h4>
                        <mark>О чем тест:</mark>
                    </h4>
                    <p class="card-text lead">{{ object.description }}</p>


                    <div class="row">

                        <div class="col-md-4">
                            <h4>
                                <mark>Несколько вопросов из теста:</mark>
                            </h4>
                        </div>
                        <div class="col-md-8">


                            {% for question in object.questions.all|slice:":4" %}
                                <p class="card-text">{{ question }}</p>
                            {% endfor %}

                        </div>
                    </div>


                </div>
            </div>
            {#            </a>#}

        {% empty %}
            <h4>Еще нет задач</h4>
        {% endfor %}
    </div>




{% endblock body %}

{% block extra_footer_js %}
    <script src="{% static 'js/holder.js' %}"></script>
{% endblock extra_footer_js %}